* {
    box-sizing: border-box;
  }
    
  body {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(20, 18, 18);
  }
  
  .wrapper {
    display: flex;
  }
  
  .menu {
    position: sticky;
    top: 0;
    z-index: 1000;
    flex: 1;
    padding: 20px;
    background-color: #f2f2f2;
    background-image: linear-gradient(to bottom right,  rgb(74, 72, 72), rgb(20, 18, 18));
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .menu ul li {
    margin-right: auto;
  }
  
  .menu ul li:last-child {
    margin-right: 0;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-style: italic;
  }
  .header {
    display: flex;
    flex-direction: column;
    background-image: url(2wice2.jpeg);
    background-size: cover;
    padding: 250px;
    font-size: 50px;
    font-style: italic;
    transition: 0.3s ease;
    position: sticky;
}

  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.header:hover::before {
  opacity: 1;
}

.header:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.header a {
  margin-bottom: 20px;
}

.flex {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.container {
  display: flex;
  margin-bottom: 25px;
}

.polaroid {
  width: 20%;
  background-color: rgb(173, 173, 172);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.482), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.polaroid img {
  width: 100%;
  height: auto;
}

.content {
  padding: 10px;
}

.content h1 {
  font-size: 50px;
  font-style: oblique;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: 0;
}

.content p {
  color: #f2f2f2;
  font-size: 25px;
  font-style: oblique;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: 0;
}

.video-container {
  margin-left: 73px;
  width: 50%;
}

.video-container video {
  width: 150%;
  height: auto;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
  
  @media screen and (min-width: 768px) {
    .header {
      padding: 100px;
      font-size: 36px;
    }
    
    .article {
      flex-direction: column;
      padding: 50px;
    }

    .article video {
      margin-right: 20px;
    }
  }
  